<div class="header_main">

    <div id="menu-icon" class="menu-icon-container">

        <div class="menu-icon">

            <a class="mobile-menu-toggle js-toggle-menu hamburger-menu" href="#">
                <span class="menu-item rotate"></span>
                <span class="menu-item"></span>

            </a>

        </div>

    </div>

    <div class="home_link" routerLink='/'>AH</div>

    <nav class="navbar_main menu" role="navigation">
        <ul>
            <li class="wiggle" routerLink='/' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">About</li>
            <li class="wiggle" routerLink='/work' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Work</li>
            <li class="wiggle" routerLink='/contact' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" id="contact">Contact</li>
            <!--<li class="wiggle"><a href="">Search</a></li>-->
        </ul>
    </nav>

</div>